<section>
    <div class="product-details">
        <h1>{{product.Name}}</h1>
        <div class="image-price">
            <div class="product-image">
                <img src="/product-images/{{product._id}}.jpg" alt="" style="height: 25rem;">
            </div>
            <div class="product-description">
                <h4><span class="sellingPrice">₹{{product.sellingPrice}}.00/-&nbsp;&nbsp;</span>
                    <br>
                    MRP <span class="actualPrice">₹{{product.actualPrice}}.00</span>
                    <span class="productPageDiscount">({{product.discount}}% off)</span>
                </h4>

                <h5>SIZE</h5>
                <form action="product/:id" method="post">
                    <input type="radio" name="size" id="small" value="Small" placeholder="Small">
                    <label for="small">Small</label>
                    <input type="radio" name="size" id="medium" value="Medium">
                    <label for="medium">Medium</label>
                    <input type="radio" name="size" id="large" value="Large">
                    <label for="large">Large</label>
                    <input type="radio" name="size" id="x-large" value="x-large">
                    <label for="small">X - Large</label>
                    <div class="buy-buttons">
                        <a href="https://wa.me/918590867797" class="
                            btn btn-success product-buy btn-lg" type="submit">Buy Now <ion-icon
                                name="logo-whatsapp"></ion-icon></a>
                        <a href="https://www.myntra.com/" class="btn btn-info product-buy btn-lg" type="submit">Buy Now <ion-icon
                                name="logo-whatsapp"></ion-icon></a>
                    </div>
                </form>
                <h3>
                    Product Details
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim omnis voluptas, sed ad mollitia nisi
                    blanditiis vel maxime magnam adipisci tenetur sunt neque cum ullam nemo, praesentium impedit.
                    Dolore, voluptas.
                </p>
            </div>
        </div>
    </div>
</section>