<section>
    <div class="product-details">
        <h1>{{product.Name}}</h1>
        <div class="image-price">
            <div class="product-image">
                <img src="/product-images/{{product._id}}.jpg" alt="" style="height: 25rem;">
            </div>
            <div class="product-description">
                <div class="product-description-content">
                    <h4><span class="sellingPrice">₹{{product.sellingPrice}}.00/-&nbsp;&nbsp;</span>
                        <br>
                        MRP <span class="actualPrice">₹{{product.actualPrice}}.00</span>
                        <span class="productPageDiscount">({{product.discount}}% off)</span>
                    </h4>

                    <h3>
                        Product Details
                    </h3>
                    <p>
                        {{product.discription}}
                    </p>
                    <a href="{{product.link}}" class="btn btn-success product-buy" target="_blank">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>