<section>
    <div class="product-page page" id="product-page">
        <h1>All<span> Products</span></h1>
        <div class="new-container">
            {{#each products}}
            <a href="/product/{{this._id}}" style="text-decoration: none;">
                <div class="box">
                    <div class="box-image">
                        {{#if this.new}}
                        <div class="new-status">
                            <p>{{this.new}}</p>
                        </div>
                        {{/if}}
                        <img src="/product-images/{{this._id}}.jpg" alt="" srcset="">
                        {{#if this.outOfStock}}
                        <div class="sold-out">
                            SOLD OUT
                        </div>
                        {{/if}}
                    </div>
                    <div class="box-title">
                        <h5>{{this.Name}}</h5>
                        <div class="Pricing">
                            <p>Rs. {{this.sellingPrice}}.00/-</p>
                            <span class="actualPrice">{{this.actualPrice}}.00</span>
                            <span class="productDiscount">({{this.discount}}% off)</span>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</section>